@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.aboutImage {
  padding-top: 2rem;
  padding-bottom: 0;
  background: white;

  .bottomLightgray {
    width: 100%;
    height: 5px;
    background-color: lightgray;
  }

  .exploring {
    font-size: 4rem;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 100px;
    margin-top: 150px;
    will-change: transform;

    .animateDot {
      opacity: 0;
      animation: animateDot1 2s linear infinite;

      &:nth-child(2) {
        animation: animateDot2 2s linear infinite;
      }

      &:nth-child(3) {
        animation: animateDot3 2s linear infinite;
      }
    }
  }

  .container {
    margin: 0 auto;
    padding-left: clamp(2.5em, 8vw, 8em);
    padding-right: clamp(2.5em, 8vw, 8em);
    max-width: 100em;

    .introduction {
      font-family: "DM Sans", sans-serif;
      font-size: 3.5rem;
      color: #222;
      font-weight: 200;
      padding-bottom: 8rem;
      text-align: justify;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      .flexCol {
        flex: 1;
        position: relative;
        opacity: 0;
        transform: translateX(-20px);
        animation: slideIn 1.5s ease-out forwards;

        &:nth-child(1) {
          animation-delay: 0.2s;
          width: 35%;
        }

        &:nth-child(2) {
          animation-delay: 0.4s;
          width: 65%;
        }
      }
    }
  }

  .arrow {
    position: relative;
    width: clamp(0.9em, 1.1vw, 1.1em);
    opacity: 0;
    animation: floatArrow 2s infinite alternate ease-in-out,
      fadeIn 1.5s ease-out forwards;
    animation-delay: 0.6s;

    .svg {
      display: block;
      width: 100%;
    }
  }

  .aboutMe {
    font-size: 1.9rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: #222;
    max-width: 90%;
    margin-left: 0px;
    line-height: 1.3;
    margin-bottom: 1em;
    text-align: left;
  }

  .aboutMe3 {
    font-size: 1.9rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: #222;
    max-width: 100%;
    margin-left: 0px;
    line-height: 1.3;
    text-align: justify;
  }

  .exploring {
    margin-left: 0px;
    display: block;
    will-change: transform;
    line-height: 1.66;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: rgb(175, 175, 175);
    font-size: 1.9rem;
    margin-top: 0px;
    margin-bottom: 0px;

    .animateDot {
      animation: blink 1.5s linear infinite;
    }
  }

  .parallaxContainer {
    position: relative;
    overflow: hidden;

    .parallaxImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translateY(0);
      transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
      background-size: cover;

      &::before {
        content: "";
        display: block;
        padding-top: 135%;
      }
    }
  }
}

.heading {
  padding-top: 7rem;
  font-family: "DM Sans", sans-serif;
  color: gray;
  font-size: 2rem;
  font-weight: 400;
}

/* Standout Section */
.standOut {
  .subtitles {
    font-family: "DM Sans", sans-serif;
    color: #222;
    font-size: 4rem;
    font-weight: 1000;
  }

  ul {
    padding-inline-start: 0px;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.9rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: #222;
    line-height: 1.5;
    margin-bottom: 1em;
  }
}

.drivemeMain {
  display: flex;
}

.DrivesMe {
  display: flex;
  font-size: 1.4rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  color: #222;
  line-height: 1.5;
  margin-bottom: 1em;
  align-items: center;

  .subtitles2 {
    font-family: "DM Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    font-weight: 1000;
  }

  .DrivesMeList ul {
    font-family: "DM Sans", sans-serif;
    padding-inline-start: 0px;
    
  }

  li {
    list-style-type: none;
    font-size: 1.9rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: #222;
    line-height: 1.5;
    margin-bottom: 1em;
  }
}

.aboutSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.1s linear;
  background-color: white;
  overflow: hidden;
  position: relative;

  .aboutTitle {
    font-size: clamp(2.5rem, 6vw, 7rem);
    margin-top: 150px;
    margin-bottom: 150px;
    padding-left: clamp(2.5em, 8vw, 8em);
    padding-right: clamp(2.5em, 8vw, 8em);
    color: black;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
  }

  .container {
    margin: 0 auto;
    padding-left: clamp(2.5em, 8vw, 8em);
    padding-right: clamp(2.5em, 8vw, 8em);
    max-width: 100em;

    &.medium {
      padding-left: calc(2.5em * 2);
      padding-right: calc(2.5em * 2);
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      .flexCol {
        flex: 1;
        position: relative;
        opacity: 0;
        transform: translateX(-20px);
        animation: slideIn 1.5s ease-out forwards;

        &:nth-child(1) {
          animation-delay: 0.2s;
          width: 35%;
        }

        &:nth-child(2) {
          animation-delay: 0.4s;
          width: 65%;
        }
      }
    }
  }

  .isInview {
    font-size: 4rem;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 100px;
    margin-top: 150px;
    will-change: transform;
  }

  .isTitle {
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    padding: 30px 0;
    align-items: center;
  }

  .number {
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: #a4a4a4;
    padding-bottom: 20px;
  }

  .stripe {
    display: block;
    width: 100%;
    height: 1px;
    background-color: gray;
  }

  .starTitle {
    display: flex;
    font-family: "DM Sans", sans-serif;
    align-items: center;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes floatArrow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateDot1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}
@keyframes animateDot2 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}
@keyframes animateDot3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .aboutImage {
    .container {
      padding-left: clamp(1.5em, 6vw, 6em);
      padding-right: clamp(1.5em, 6vw, 6em);

      .introduction {
        font-size: 3rem;
        padding-bottom: 4rem;
      }

      .row {
        .flexCol {
          &:nth-child(1) {
            width: 100%;
            margin-bottom: 3rem;
          }
          &:nth-child(2) {
            width: 100%;
          }
        }
      }
    }
    .aboutMe {
      font-size: 1.5rem;
      margin-bottom: -20px;
      color: #222;
      line-height: 1.6;
      font-weight: 200;
    }

    .aboutMe3 {
      font-size: 1.5rem;
      font-family: "DM Sans", sans-serif;
      font-weight: 200;
      color: rgb(0, 0, 0);
      max-width: 100%;
      line-height: 1.6;
      margin-bottom: 1em;
      text-align: left;
      color: #222;
    }
  
  
      .exploring {
        color: #737373;
        margin-left: 0px;
        font-size: 1.5rem;
        margin-bottom: 0px;
        font-weight: 1000;
      }

      .heading {
        color: #737373;
        padding-top: 1rem;
        font-size: 1.5rem;
        font-style: italic;
      }
  }


  .standOut .subtitles,
  .DrivesMe .subtitles2 {
    font-size: 3rem;
  }

  
}

@media (max-width: 768px) {
  .aboutImage {
    .container {
      padding-left: clamp(1em, 5vw, 5em);
      padding-right: clamp(1em, 5vw, 5em);

      .introduction {
        font-size: 2rem;
      }
    }

    .aboutMe {
      font-size: 1.3rem;
      font-family: "DM Sans", sans-serif;
      font-weight: 200;
      color: rgb(0, 0, 0);
      max-width: 95%;
      line-height: 1.3;
      margin-bottom: 0em;
      text-align: left;
      color: #222;
    }

    .aboutMe3 {
      font-size: 1.3rem;
      font-family: "DM Sans", sans-serif;
      font-weight: 200;
      color: rgb(0, 0, 0);
      max-width: 100%;
      line-height: 1.3;
      margin-bottom: 1em;
      text-align: left;
      color: #222;
      margin-top: 0px;
    }
  
  
      .exploring {
        color: #737373;
        margin-left: 0px;
        font-size: 1.5rem;
        margin-bottom: 0px;
        font-weight: 1000;
      }

      .heading {
        color: #737373;
        padding-top: 1rem;
        font-size: 1.3rem;
        font-style: italic;
      }
  }

  .standOut .subtitles,
  .DrivesMe .subtitles2 {
    font-size: 2.5rem;
  }

  .standOut {
    li {
      font-size: 1.3rem;
    }
  }

  .DrivesMe {
    font-size: 1.3rem;
    li {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 480px) {
  .aboutImage {
    padding-top: 0rem;

    .container {
      padding-left: 1rem;
      padding-right: 1rem;

      .introduction {
        font-weight: 200 !important;
        text-align: left;
        font-size: 1.5rem;
        padding-bottom: 2rem;
        max-width: 100% !important;
      }
      .row {
        display: block;
        .flexCol {
          width: 100% !important;
        }
      }
    }

    .aboutMe  {
      font-size: 1.5rem;
      margin-left: 0;
      line-height: 1.66;
      max-width: 100% !important;
    }
    .aboutMe3 {
    font-size: 1.5rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: rgb(0, 0, 0);
    max-width: 100%;
    line-height: 1.66;
    margin-bottom: 1em;
    text-align: left;
  }


    .exploring {
      color: #737373;
      margin-left: 0px;
      font-size: 1.5rem;
      margin-bottom: 0px;
      font-weight: 1000;
    }
  }

  .heading {
    color: #737373;
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 200;
  }

  .standOut .subtitles,
  .DrivesMe .subtitles2 {
    font-size: 2rem;

    Img {
      width: 80px;
    }
  }

  .standOut {
    li {
      display: flex !important;
      flex-direction: column !important;
      font-size: 1.3rem !important;
      font-weight: 200 !important;

      strong {
        font-size: 1.7rem !important;
        font-weight: 600;
      }
    }
  }

  .DrivesMeList {
    padding-left: 0px;
  }

  .DrivesMe {
    font-size: 1rem;
    flex-direction: column;
    align-items: flex-start;
    li {
      display: flex !important;
      flex-direction: column !important;
      font-size: 1.3rem !important;
      font-weight: 200 !important;

      strong {
        font-size: 1.7rem !important;
        font-weight: 600;
      }
    }
  }
}
