// @import "../../app/globals.scss";
// @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

// .aboutServices {
//   position: relative;
//   z-index: 1;

//   background-color: rgb(255, 755, 255);
//   transform: translate(0px, 0vh);

//   .container {
//     margin: 0 auto;
//     padding-left: clamp(2.5em, 8vw, 8em);
//     padding-right: clamp(2.5em, 8vw, 8em);
//     max-width: 100em;

//     .row {
//       display: flex;
//       flex-wrap: wrap;
//       position: relative;
//       gap: 50px;
//       margin-bottom: 50px;

//       .flexCol {
//         flex: 1;
//         position: relative;

//         &:nth-child(1) {
//           animation-delay: 0.2s;
//           width: 35%;
//         }

//         &:nth-child(2) {
//           animation-delay: 0.4s;
//           width: 65%;
//         }
//       }
//     }
//   }

//   .isInview {
//     font-size: 4rem;
//     font-family: "DM Sans", sans-serif;
//     margin-bottom: 100px;
//     margin-top: 150px;
//     will-change: transform;

//     .animateDot {
//       opacity: 0;
//       animation: animateDot1 2s linear infinite;

//       &:nth-child(2) {
//         animation: animateDot2 2s linear infinite;
//       }

//       &:nth-child(3) {
//         animation: animateDot3 2s linear infinite;
//       }
//     }
//   }

//   .number {
//     font-size: 1rem;
//     font-family: "DM Sans", sans-serif;
//     font-weight: 200;
//     color: #a4a4a4;
//     padding-bottom: 20px;
//   }

//   .stripe {
//     display: block;
//     width: 100%;
//     height: 1px;
//     background-color: gray;
//   }

//   .isTitle {
//     font-size: 3rem;
//     font-family: "DM Sans", sans-serif;
//     font-weight: 200;
//     padding: 30px 0px 30px 0px;
//   }

//   .details {
//     font-family: "DM Sans", sans-serif;
//     font-weight: 100;
//     color: #333;
//     font-size: 1.2rem;
//     line-height: 1.66;
//     margin-bottom: 1em;

//     &:last-child {
//       margin-bottom: 0;
//     }
//   }
// }

// .circleContainer {
//   background-color: rgb(255, 255, 255);
//   position: relative;

//   .circle {
//     height: 1550%;
//     width: 120%;
//     left: -10%;
//     border-radius: 0 0 50% 50%;
//     background-color: white;
//     z-index: 1;
//     position: absolute;
//     box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
//   }
// }

// @keyframes animateDot1 {
//   0% {
//     opacity: 0;
//   }
//   20% {
//     opacity: 0;
//   }
//   30% {
//     opacity: 1;
//   }
//   90% {
//     opacity: 1;
//   }
// }

// @keyframes animateDot2 {
//   0% {
//     opacity: 0;
//   }
//   35% {
//     opacity: 0;
//   }
//   45% {
//     opacity: 1;
//   }
//   90% {
//     opacity: 1;
//   }
// }

// @keyframes animateDot3 {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 0;
//   }
//   60% {
//     opacity: 1;
//   }
//   90% {
//     opacity: 1;
//   }
// }
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* ========== Base (Desktop) Styles ========== */
.aboutServices {
  position: relative;
  z-index: 1;
  background-color: rgb(255, 755, 255);
  transform: translate(0px, 0vh);

  .container {
    margin: 0 auto;
    padding-left: clamp(2.5em, 8vw, 8em);
    padding-right: clamp(2.5em, 8vw, 8em);
    max-width: 100em;

    .row {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      gap: 50px;
      margin-bottom: 50px;

      .flexCol {
        flex: 1;
        position: relative;

        &:nth-child(1) {
          animation-delay: 0.2s;
          width: 35%;
        }
        &:nth-child(2) {
          animation-delay: 0.4s;
          width: 65%;
        }
      }
    }
  }

  .isInview {
    font-size: 4rem;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 100px;
    margin-top: 150px;
    will-change: transform;

    .animateDot {
      opacity: 0;
      animation: animateDot1 2s linear infinite;

      &:nth-child(2) {
        animation: animateDot2 2s linear infinite;
      }
      &:nth-child(3) {
        animation: animateDot3 2s linear infinite;
      }
    }
  }

  .number {
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: #a4a4a4;
    padding-bottom: 20px;
  }

  .stripe {
    display: block;
    width: 100%;
    height: 1px;
    background-color: gray;
  }

  .isTitle {
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    padding: 30px 0px 30px 0px;
  }

  .details {
    font-family: "DM Sans", sans-serif;
    font-weight: 100;
    color: #333;
    font-size: 1.4rem;
    line-height: 1.66;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Circle Container + Circle */
.circleContainer {
  background-color: rgb(255, 255, 255);
  position: relative;

  .circle {
    height: 1550%;
    width: 120%;
    left: -10%;
    border-radius: 0 0 50% 50%;
    background-color: white;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
  }
}

/* ========== Keyframes ========== */
@keyframes animateDot1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}
@keyframes animateDot2 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}
@keyframes animateDot3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

/* ========== Responsive Media Queries ========== */

/* --- 1024px (Large Tablets / Small Desktops) --- */
@media (max-width: 1024px) {
  .aboutServices {
    .container {
      padding-left: clamp(1.5em, 6vw, 6em);
      padding-right: clamp(1.5em, 6vw, 6em);

      .row {
        flex-direction: column;
        gap: 2rem;

        .flexCol {
          width: 100% !important;
          margin-bottom: 100px;
          margin-top: 0px;
        }
      }
    }

    .isInview {
      font-size: 5rem;
      font-weight: 1000;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .isTitle {
      font-size: 3.5rem;
      font-weight: 300;
      padding: 0px 0px 0px 0px;
      margin-top: 20px;
    }
    .details {
      font-size: 2rem;
      font-weight: 200;
      padding: 0px 0px 0px 0px;
      margin-top: 0px;
    }
  }
}

/* --- 768px (Tablets) --- */
@media (max-width: 768px) {
  .aboutServices {
    .container {
      padding-left: clamp(1em, 5vw, 5em);
      padding-right: clamp(1em, 5vw, 5em);

      .flexCol {
        width: 100% !important;
        margin-bottom: 100px;
      }

      .row {
        margin-bottom: 40px;
      }
    }

    .isInview {
      font-size: 4rem;
      margin-top: 80px;
      margin-bottom:-100px;
    }

    .isTitle {
      font-size: 2rem;
      font-weight: 400;
      padding: 0px 0px 0px 0px;
      margin-top: 20px;
    }
    .details {
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: 200;
      padding: 0px 0px 0px 0px;
      margin-top: 0px;
    }

    .number {
      padding: 0px 0px 0px 0px;
    }
    
  }
}

/* --- 480px (Mobile) --- */
@media (max-width: 480px) {
  .aboutServices {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;

      .flexCol {
        width: 100% !important;
        margin-bottom: 70px !important;
      }
    }

    .isInview {
      font-size: 2.5rem;
      margin-top: 50px;
      margin-bottom: 0px;
      font-weight: 1000;
      
    }

    .isTitle {
      font-size: 2rem;
      font-weight: 400;
      padding: 0px 0px 0px 0px;
      margin-bottom: 10px;
    }
    .details {
      font-size: 1.2rem;
      font-weight: 200;
      padding: 0px 0px 0px 0px;
    }

    .number {
      display: block;
    }
  }

  .circleContainer .circle {
    height: 800%;
  }
}
