@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.contactShell {
  margin: 0 auto;
  background: #1c1d20;
  padding: 5em;
  color: #fff;
  padding-left: clamp(5em, 16vw, 16em);
  padding-right: clamp(5em, 16vw, 16em);
}

.fadeUp {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.layoutRow {
  display: flex;
  margin-bottom: 4rem;
  padding-top: calc(clamp(3.25em, 7vw, 8em) * 0.875 * 1.175);
}

.colLeft {
  width: 73%;
  padding-right: 4rem;
}
.colRight {
  width: 27%;
  padding-left: 3rem;
}

.layoutRow:nth-of-type(1) {
  .colLeft {
    width: 73%;
    padding-right: 4rem;
  }
  .colRight {
    width: 27%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.layoutRow:nth-of-type(2) {
  .colLeft {
    width: 73%;
  }
  .colRight {
    width: 27%;
    padding-left: 3rem;
    border-top: none;
  }
}

/* Heading text */
.mainHeading {
  font-family: "DM Sans", sans-serif;
  font-size: calc(clamp(3em, 6vw, 7em) * 0.875);
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 0.75rem;
  span {
    display: block;
  }
}

.circleAvatar {
  border-radius: 50%;
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-top: 7rem;
}
.pointerIcon {
  margin-top: 1rem;
  position: absolute;
  bottom: -5rem;
  transform: translateY(-50%);
  svg {
    display: block;
  }
}

.contactForm {
  display: block;
}

.hiddenField {
  position: absolute;
  left: -9999px;
}

.formRow {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-size: 1.33em;
}

.fieldNumber {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 0.6em;
  line-height: 1.065;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.5;
  margin: 0;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #1c1d20;
}

.fieldLabel {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  background-color: #1c1d20;
}

/* The actual input/textarea */
.inputField {
  font-family: "DM Sans", sans-serif;
  font-size: 0.7em;
  background: #1c1d20;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  padding: 10px 0;
  color: #ffffff;
  line-height: 1.4;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #777;
    opacity: 0.7;
  }
}

/* Form Submit Action */
.formAction {
  margin-top: 3rem;
  text-align: right;
}

.submitButton {
  font-family: "DM Sans", sans-serif;
  transform: translate(5%, -70%);
  font-size: 1.2rem;
  font-weight: 200;
  color: #fff;
  background: #455ce9;
  border: none;
  border-radius: 50%;
  width: clamp(9em, 12vw, 11em);
  height: clamp(9em, 12vw, 11em);
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: #334bd3;
  }
}

.infoBlock {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1em;
}
.infoHeading {
  font-family: "DM Sans", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 0.6em;
  line-height: 1.065;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.5;
}

.infoList {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2.5em;
}
.infoList li {
  margin-bottom: 1rem;
  height: 2em;
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  cursor: pointer;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    position: relative;
    cursor: pointer;
  }
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .layoutRow {
    padding-top: 2rem;
  }

  .colLeft {
    width: 60%;
    padding-right: 2rem;
  }
  .colRight {
    width: 40%;
    padding-left: 2rem;
  }

  .mainHeading {
    font-size: calc(clamp(2.5em, 5vw, 6em) * 0.875);
  }

  .circleAvatar {
    width: 150px;
    height: 150px;
    margin-top: 4rem;
  }

  .pointerIcon {
    bottom: -3rem;
  }

  .formRow {
    gap: 1rem;
  }

  .fieldLabel {
    font-size: 1rem;
  }

  .submitButton {
    transform: none;
    width: clamp(8em, 10vw, 10em);
    height: clamp(8em, 10vw, 10em);
  }

  .formAction {
    left: 300px;
    position: absolute;
    margin-top: -7rem;
  }
}

@media (max-width: 768px) {
  .contactShell {
    margin: 0 auto;
    background: #1c1d20;
    padding: 5em;
    color: #fff;
    padding-left: 80px;
    padding-right: 80px;
  }

  .mainHeading {
    padding-top: 50px;
    font-size: 3.3rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
  }

  .pointerIcon {
    position: absolute;
    margin-bottom: 1rem;
    bottom: -80px;
    left: 10px;
  }

  .colLeft {
    width: 100%;
    padding-right: 5rem;
  }
  .colRight {
    width: 100%;
    padding-left: 3rem;
  }

  .layoutRow:nth-of-type(1) {
    .colLeft {
      width: 100%;
    }
    .colRight {
      padding-left: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .layoutRow:nth-of-type(2) {
    .colLeft {
      width: 100%;
    }
    .colRight {
      // width: 100%;
      padding-left: 0rem !important;
      border-top: none;
    }
  }

  .formAction {
    left: 270px;
    float: right;
    position: absolute;
    margin-top: -7rem;
  }
}

@media (max-width: 480px) {
  .contactShell {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .layoutRow {
    margin-bottom: 2rem;
    padding-top: 1rem;
    flex-direction: column;
  }

  .colLeft {
    width: 100%;
    padding-right: 4rem;
  }
  .colRight {
    width: 100%;
    padding-left: 3rem;
  }

  .layoutRow:nth-of-type(1) {
    .colLeft {
      width: 100%;
    }
    .colRight {
      width: 100%;
      padding-left: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .layoutRow:nth-of-type(2) {
    .colLeft {
      width: 100%;
    }
    .colRight {
      width: 100%;
      padding-left: 0rem !important;
      border-top: none;
    }
  }

  .mainHeading {
    padding-top: 50px;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .circleAvatar {
    width: 110px;
    height: 110px;
    margin-top: 1rem;
    top: 180px;
    left: 200px;
    position: absolute;
  }

  .pointerIcon {
    position: absolute;
    margin-bottom: 1rem;
    bottom: -50px;
    left: 10px;
  }

  .formRow {
    margin-bottom: 1.5rem;
  }

  .formAction {
    left: 270px;
    position: absolute;
    margin-top: -5rem;
  }

  .fieldLabel {
    font-size: 1rem;
  }

  .submitButton {
    width: clamp(6em, 25vw, 8em);
    height: clamp(6em, 25vw, 8em);
    font-size: 0.9rem;
  }

  .infoHeading {
    font-size: 0.7em;
  }

  .infoList li {
    margin-bottom: 0.5rem;
    padding-bottom: 0px !important;
  }
}

@media (max-width: 390px) {
  .formAction {
    left: 250px;
    position: absolute;
    margin-top: -4.5rem;
  }
}

@media (max-width: 375px) {
  .formAction {
    left: 230px;
    position: absolute;
    margin-top: -4.5rem;
  }
}
